{% extends 'index.html' %}
{% load static %}
{% block title %}
    Products
{% endblock %}

{% block body %}

    <style>
    .ml{
        margin-left: 120px;
    }
    </style>

    <br>
    <div class="container-fluid mt-5">
        <div class="row mx-auto">
            {% for foo in product %}

                <div class="card" style="width: 18rem;">
                    <img src="/media/{{ foo.image }}" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ foo.title }}
                        </h5>
                        <p class="card-text">
                            {{ foo.description }}
                        </p>

                        <div class="flex">
                            Price: ₹{{ foo.price }}
                        </div>
{#                        <div class="flex">#}
{#                                 <a href="{% url 'cart:cart_add' foo.id %}" class="btn btn-primary">#}
{#                                     Add to cart#}
{#                                 </a>#}
{#                        </div>#}
                        <form action="{% url 'cart:cart_add' foo.id %}" method="POST">
                            {% csrf_token %}
                            {{ cart_product_form }}
                            <button class="btn btn-primary" type="sumbit" value="{{ foo.id }}">
                                Add to Cart
                            </button>
                        </form>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br>
{% endblock %}
